free-spoken-digit-database/
*.pth
.ipynb_checkpoints/
*.zip
*.pth
.ipynb_checkpoints/
free-spoken-digit-database/
*.zip
*.pth
.ipynb_checkpoints/
Week-4/Question-4/dataset/
Week-4/Question-6/free-spoken-digit-database/